name: Deployment
run-name: "Running Deploy: ${{ github.ref }}"

on:
  push:
    branches:
    - main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ vars.DOCKERHUB_USERNAME }}/cicd-kata-dice-roll:latest

  render:
    needs: docker
    runs-on: ubuntu-latest
    steps:
    - name: Deploy in Render
      run: curl "${{ secrets.DEPLOY_WEBHOOK_URL_RENDER }}&imgURL=docker.io%2F${{ vars.DOCKERHUB_USERNAME }}%2Fcicd-kata-dice-roll%3Alatest"
